{% extends "base_template.html" %}
{% load static %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="eleven wide column about" id="example1">
    <h2>О проекте</h2>
    <p>И так, <b>Dendy Not Dead</b> — это, громко говоря, мой музыкальный проект,
    где я пытаюсь воплотить все свои музыкальные наработки в более менее
    нормальные треки.

    </p>
    <img src="{% static 'images/dnd.jpg'%}" alt="" class="ui image corners">

    {% for obj in info %}
      <h2 class="ui horizontal divider header">{{ obj.title }}</h2>
      <a id="{{ obj.slug }}" class="anchor2"></a>
      {% autoescape off %}
        {{ obj.description }}
      {% endautoescape %}
    {% endfor %}

  </div>
  <div class="five wide column tablet-hidden">
    <div class="ui sticky questions">
      <h2>Разделы</h2>
      {% for obj in info %}
      <p><a href="#{{ obj.slug }}">{{ obj.title }}</a></p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
