{% extends "base_template.html" %}
{% load static %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="eleven wide column about" id="example1">
    <div class="ui success message">
        <p><i class="hand spock icon"></i>Ссори, но я не успел написать все что хотел. Потом :)</p>
    </div>
    <p>И так, <b>Dendy Not Dead</b> — это, громко говоря, мой музыкальный проект,
    где я пытаюсь воплотить все свои музыкальные наработки в более менее
    нормальные треки.
    </p>

    <h2 class="ui horizontal divider header">
      Почему Dendy ?
    </h2>
    <a id="why_dendy" class="anchor2"></a>
    <p><b>Dendy</b> — это такая игровая приставка, она же
    <i>Nintendo Entertainment System (NES)</i>. Если вы застали 90-е в России, то вы
    и так явно знаете что такое Денди. </p>
    <p> Поскольку я (если вы заметили) — Денис,
    то в детстве меня дома все называли Денди. Так оно и привязалось. Первый ник в местной сети я тоже выбрал Dendy. А сейчас у меня даже такая подпись в паспорте (честно).</p>

    <h2 class="ui horizontal divider header">
      Почему Not Dead ?
    </h2>
    <a id="why_not_dead" class="anchor2"></a>
    <p>Во первых, правильно пишется <i>Dendy <u>Is</u> Not Dead</i>
    , но как-то внимания я на это не обратил. По мне, звучало лучше без <i>Is</i>. Никто же не спрашивает, почему <i>System Of <u>A</u> Down</i>? </p>
    <p>Во вторых, название, само собой, взялось скорее всего из подобия фразе <i>Punk's Not Dead</i>,
    и получается, что <i>Денди все еще не умер</i>. Но по факту, я тут не о приставке говорю.</p>
    <p>Если серьезно, то таким названием я сам себе хотел доказать, что я еще не
    умер и что-то могу сочинять. Потому что времени на все это остается все меньше,
    а какого-то творческого развития все еще хочется. Тем более что я просто обожаю
    играть и сочинять.</p>

    <h2 class="ui horizontal divider header">
      Откуда такой звук?
    </h2>
    <a id="what_is_the_sound" class="anchor2"></a>
    <p>Guitar Pro 6 — мой основной на данный момент инструмент, где я все сочиняю.
    Он удобен тем, что он имеет супер простой интерфейс, вполне вменяемые звуковые
    библиотеки, и в целом обхватывает все мои потребности по сочинению музыки.</p>
    <p>Минусы, конечно же, только в супер искуственном звуке. Треки получаются тихие.
    И настоящего эстетического удовольствия от прослушивание такого вы, пожалуй,
    и не получите. Но не стоит забывать, что проект — это прежде всего мое
    хранилище музыки, чтобы я как-то мог ее сортировать и не терять.</p>
    <p>Пока я даже не знаю, дойдут ли у меня когда-нибудь руки, чтобы взять
    электрогитару и записать все заново, а барабаны собрать хотя бы в FLStudio.
    Не в скором времени точно.</p>

    <br>
  </div>
  <div class="five wide column tablet-hidden">
    <div class="ui sticky questions">
      <h2>Разделы</h2>
      <p><a href="#why_dendy">Почему Dendy?</a></p>
      <p><a href="#why_not_dead">Почему Not Dead?</a></p>
      <p><a href="#what_is_the_sound">Откуда такой звук?</a></p>
    </div>
  </div>
</div>
{% endblock %}
