html, body {
  height: 100%;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* Footer */

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 60px;
}

.site-footer {
  z-index: 1160;
  background: #21252B !important;
}

.footer-list {
  margin-top: -15px !important;
  float: right;
}

/* Set width of main container */

.ui.container {
    max-width: 1000px !important;
}

/* Text colors */

.text-faded {
  color: #aaa;
}

.text-red {
  color: red;
}

/* Text aligns */

.text-center {
  text-align: center;
}

/* Background colors */

.black {
  background: black;
}

.white {
  background: white;
}

.red {
  background: red;
}

/* Display */

.displaynone {
  display: none !important;
}

/* Media */

@media screen and (max-width: 768px){
    .tablet-hidden { display: none !important; }
}

@media screen and (min-width: 768px){
    .tablet-show { display: none !important; }
}

@media screen and (max-width: 650px){
    .mobile-hidden { display: none !important; }
}

@media screen and (min-width: 650px){
    .mobile-show { display: none !important; }
}
