/* DND logo */
.dnd-logo {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

/* Line of pixels */

.logo-line {
  width: 95px;
}

.logo2-line {
  width: 235px;
}

.logo3-line {
  width: 30px;
}

.logo-pixel {
  width: 5px;
  height: 5px;
  float: left;
  transition: all 0.3s ease;
}

.logo3-pixel {
  width: 10px;
  height: 10px;
  float: left;
  transition: all 0.3s ease;
}

.pixel-logo:hover .logo-pixel{
  transform: scale(1.5);
}

.pixel-logo {
  position: absolute;
}

.pixel2-logo {
  position: absolute;
  margin-top: 14px;
}

.pixel2-logo:hover .logo-pixel{
  transform: rotate(45deg);
}
