/* DND logo */
.dnd-logo {
  position: relative;
  cursor: pointer;
  top: -9px;
}

/* Line of pixels */

.logo-line {
  /* 19 char x logo-pixel width */
  width: 114px;
}

.logo2-line {
  /* 47 char x logo-pixel width */
  width: 282px;
}

.logo3-line {
  /* 3 char x logo-pixel width */
  width: 18px;
}

.logo-pixel {
  width: 6px;
  height: 6px;
  float: left;
  transition: all 0.3s ease;
}

.pixel-logo:hover .logo-pixel{
  transform: scale(1.5);
}

.pixel-logo {
  position: absolute;
}

.pixel2-logo {
  position: absolute;
  margin-top: 22px;
  margin-left: 17px;
}

.pixel2-logo:hover .logo-pixel{
  transform: rotate(45deg);
}
