.header.track {
  font-family: 'Open Sans', cursive !important;
  font-weight: 900 !important;
  line-height: 26px !important;
  margin-top: -2px !important;
}

@media screen and (max-width: 650px){
    .header.track { font-size: 20px !important; }
}

@media screen and (min-width: 650px){
    .header.track { font-size: 26px !important; }
}

.audio {
  position: fixed;
  bottom: 22px;
  left: 50%;
  z-index: 1150;
}

.audiojs {
  border-radius: 4px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.track-image {
  cursor: pointer;
}

.playing {
  color: red !important;
}

.image {
  transition: all 0.3s ease;
}

.image:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 1000px) {
  .audiojs {
    width: 700px;
    margin-left: -350px;
  }
  .audiojs .scrubber {
    width: 77%;
  }
}

@media screen and (min-width: 530px) and (max-width: 1000px) {
  .audiojs {
    width: 500px;
    margin-left: -250px;
  }
  .audiojs .scrubber {
    width: 68%;
  }
}

@media screen and (max-width: 530px) {
  .audiojs {
    width: 300px;
    margin-left: -150px;
  }
  .audiojs .scrubber {
    width: 47%;
  }
}

.show-full {
  margin-top: 8px !important;
  font-size: 12px !important;
}

.all-songs {
  border-left: 3px solid #f2f2f2;
  padding-left: 10px;
}

.all-songs p {
  margin-bottom: 0;
}

.all-songs .name a {
  color: black;
  font-weight: bold;
  transition: all 0.2s ease;
}

.all-songs .name :hover{
  color: red;
  font-weight: bold;
}

.all-songs .year {
  font-size: 10px;
  color: #888;
  margin-bottom: 6px;
}

.ui .sticky .all-songs-counter {
  font-size: 12px;
}

.ui .sticky h2 {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 767px){
.ui.unstackable.items>.item>.image, .ui.unstackable.items>.item>.image>img {
    width: 95px!important;
}
