.audiojs {
  border-radius: 4px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media screen and (min-width: 1000px) {
  .audiojs {
    width: 600px;
  }
  .audiojs .scrubber {
    width: 73%;
  }
}

@media screen and (min-width: 530px) and (max-width: 1000px) {
  .audiojs {
    width: 500px;
  }
  .audiojs .scrubber {
    width: 68%;
  }
}

@media screen and (max-width: 530px) {
  .audiojs {
    width: 292px;
  }
  .audiojs .scrubber {
    width: 45%;
  }
}
