.news-meta {
  padding-right: 10px;
}

.ui.cards>.card {
  transition: all 0.4s ease-out;
}

.ui.cards>.card {
  box-shadow: 0 1px 3px 0 #ddd, 0 0 0 1px #ddd;
}

.ui.cards>.card:hover {
  box-shadow: 0 1px 3px 0 #aaa, 0 0 0 1px #aaa;
}

.news-arrows {
  color: #6e6e6e;
}

.news-arrows:hover {
  color: #3e8bf2;
}

.disabled-icon {
  color: #dedede;
}

.disabled-icon:hover {
  color: #dedede;
}

.clicks {
  margin-left: 5px;
}
