{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  {{ block.super}}
  <style media="screen">
    .errorbutton {
      margin: 0 5px !important;
      transition: all 0.3s ease;
    }
  </style>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {

      $("#complain").click(function() {
        $('#complain').css("display","none");
        $('#be_sad').css("transform","scale(1.4)");
      });

      $("#be_sad").click(function() {
        $('body').dimmer('show');
      });

    })

  </script>
{% endblock %}
{% block content %}
<div class="ui centered grid">
  <div class="centered row">
  <h1>К сожалению, данная страница не существует.</h1>
  <br>

  </div>
  <div class="centered row">
    <h3>Вы можете</h3>
  </div>
  <div class="centered row">
    <button class="ui negative button errorbutton" id="complain">
      Пожаловаться
    </button>
    <button class="ui button errorbutton" id="be_sad">
      Погрустить
    </button>
  </div>
</div>
{% endblock %}

{% block afterbody %}
<div class="ui page dimmer">
  <div class="content">
    <div class="center">
      <h2 class="ui inverted icon header">
        <i class="heart icon"></i>
        <p>Ну не грусти :)</p>
        <p style="font-size: 16px; font-weight: 300; letter-spacing: 2px;">Все наладится!</p>
      </h2>
    </div>
  </div>
</div>
{% endblock %}
