{% extends "base_template.html" %}
{% load static i18n %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">
{% endblock %}

{# JS #}
{% block extrajs %}
{{ block.super }}
<script src="{% static 'js/audiojs/audio.min.js' %}"></script>
<script src="{% static 'js/music.js' %}"></script>
{% endblock %}

{# Content #}
{% block content %}

{% if not tracks %}
  {# If there are no tracks - show "Sorry" message #}
  <div class="ui centered grid">
    <h1>{% trans "Sorry, currently author has creative crisis."%}</h1>
  </div>
  <br><br>
  <div class="ui large active centered inline loader"></div>
{% else %}

<div class="audio">
  <audio preload></audio>
</div>

<div class="ui items unstackable">
{% for track in tracks %}
<div class="item">
  <div class="image track-image">
    <a class="ui red right corner label {% if forloop.counter != 1 %}hidden-label{% endif %}"><i class="play icon" style="cursor: pointer;"></i></a>
    {% if track.image %}
    <img src="{{ track.image.url }}">
    {% else %}
    <img src="{% static 'images/no-image.png' %}">
    {% endif %}
    <a class="anchor" id="{{ tr.slug }}"></a>
  </div>
  <div class="content">
    <a class="header track" href="#" data-src="{{ track.file.url }}">{{ track.name }}</a>
    <div class="meta">
      <span>{{ track.year }}</span>
    </div>
    <div class="description mobile-hidden">
      {% if track.description %}
        {{ track.truncated_description }}
      {% else %}
      Нет описания
      {% endif %}
    </div>
    <div class="extra">
      {# <i class="empty heart icon"></i>0 #}
      {# <i class="sound icon"></i>0 #}
      <div class="mobile-show">
        <a href="/music/{{ track.slug }}/" class="ui primary basic button mybutton">Показать полностью</a>
      </div>
      <div class="mobile-hidden">
        <a href="/music/{{ track.slug }}/" style="font-family: 'Source Sans Pro'">Показать полностью</a>
      </div>

    </div>
  </div>
</div>
<br>
{% endfor %}
</div>
{% endif %}
{% endblock %}
