{% extends "base_template.html" %}
{% load static i18n %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/music_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">
{% endblock %}

{# JS #}
{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
  var heyhey = '123';
</script>
<script src="{% static 'js/audiojs/audio.min.js' %}"></script>
<script src="{% static 'js/music.js' %}"></script>
{% endblock %}

{# Content #}
{% block content %}

{% if not tracks %}
  {# If there are no tracks - show "Sorry" message #}
  <div class="ui centered grid">
    <h1>{% trans "Подождите, у автора сейчас творческий кризис."%}</h1>
  </div>
  <br><br>
  <div class="ui large active centered inline loader"></div>
{% else %}

<div class="audio">
  <audio preload></audio>
</div>

<div class="ui two column stackable grid">
  <div class="eleven wide column">
    <div class="ui info message">
      <ul class="list">
        <p><i class="play icon"></i> Нажмите на <b>картинку</b> или <b>название песни</b> для воспроизведения</p>
        <p><i class="write icon"></i>Нажмите <b>показать полностью</b> для просмотра всей информации</p>
        <p><i class="sound icon"></i>Рекомендуется к прослушиванию в <b>наушниках</b></p>
      </ul>
    </div>
    <div class="ui items unstackable" id="example1">
    {% for track in tracks %}
    <a class="anchor" id="{{ track.slug }}"></a>
    <div class="item">
      <div class="image track-image">
        <a class="ui red right corner label {% if forloop.counter != 1 %}displaynone{% endif %}"><i class="play icon" style="cursor: pointer;"></i></a>
        {% if track.image %}
        <img class="track-img" src="{{ track.image.url }}">
        {% else %}
        <img class="track-img" src="{% static 'images/no-image.png' %}">
        {% endif %}
      </div>
      <div class="content">
        <a class="header track" href="#" data-src="{{ track.file.url }}">{{ track.name }}</a>
        <div class="meta">
          <span>{{ track.year }}</span>
        </div>
        <div class="description mobile-hidden">
          {% if track.preview %}
            {% autoescape off %}
              {{ track.preview }}
            {% endautoescape %}
          {% else %}
          Нет описания
          {% endif %}
        </div>
        <div class="extra">
          {# <i class="empty heart icon"></i>0 #}
          {# <i class="sound icon"></i>0 #}
          <div class="mobile-show">
            <a href="/music/{{ track.slug }}/" class="ui primary basic button show-full">Показать полностью</a>
          </div>
          <div class="mobile-hidden">
            <a href="/music/{{ track.slug }}/">Показать полностью</a>
          </div>

        </div>
      </div>
    </div>
    <br>
    {% endfor %}
    </div>
    <div class="text-center text-faded">
      Остальные треки в разработке, ожидайте
      <i class="notched circle loading icon" style="margin-left: 5px;"></i>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="five wide column tablet-hidden">
    <div class="ui sticky">
      <h2>Все треки</h2>
      <p class="all-songs-counter">Всего: {{ tracks|length }}</p>
      <div class="all-songs">
        {% for track in tracks %}
        <p class="name"><a href="#{{ track.slug }}" class="item">{{ track.name }}</a></p>
        <p class="year">{{ track.year }}</p>
        {% endfor %}
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
