{% extends "base_template.html" %}
{% load static %}

{# CSS #}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/music_single.css' %}">
{% endblock %}

{# JS #}
{% block extrajs %}
{{ block.super }}
<script src="{% static 'js/audiojs/audio.min.js' %}"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="ui row">
    <div class="ui breadcrumb">
      <a class="section" href="/music/#{{ track.slug }}">Музыка</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{ track.name }}</div>
    </div>
  </div>
  <div class="five wide column">
  {% if track.image %}
  <img class="ui fluid image" src="{{ track.image.url }}">
  {% else %}
    <img class="ui medium centered image" src="{% static 'images/no-image.png' %}">
  {% endif %}
  </div>
  <div class="eleven wide column">
    <h1>{{ track.name }}</h1>
    <p>{{ track.year }}</p>
    <p>{{ track.description }}</p>

    <div class="audio">
      <audio src="{{ track.file.url }}" preload="auto" />
    </div>

    {% if extra_files %}

    <h2>Дополнительные файлы</h2>

    <div class="ui list">
      {% for category in extra_files %}
        {% if category.1 %}
        <div class="item">
          <i class="folder icon"></i>
          <div class="content">
            <div class="header">{{ category.0 }}</div>
            <div class="list">
              {% for file in category.1 %}
                <div class="item">
                  <i class="angle right icon"></i>
                  <div class="content">
                    <a class="description" href="{{ file.file.url }}">{{ file }}</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>

    {% endif %}
    <br>
    <p class="text-faded">Добавлено на сайт: {{ track.created }}</p>
    <br>

    {% comment %}
    <div class="">
      <span class="news-meta"><i class="heart icon"></i>0 Likes</span>
      <span class="news-meta"><i class="user icon"></i>0 Views</span>
      <span class="news-meta"><i class="alarm icon"></i>0 Shares</span>
    </div>
    <br>
    <button class="ui circular vk icon button">
      <i class="vk icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>
    {% endcomment %}
  </div>
</div>
{% endblock %}
