@font-face {
    font-family: 'Hand';
    src: local('Hand'), url('../fonts/hand.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lemon';
    src: local('Lemon'), url('../fonts/Lemon.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Orpheus';
    src: local('Orpheus'), url('../fonts/orpheus.woff2') format('woff2'), url('../fonts/orpheus.woff') format('woff'), url('../fonts/orpheus.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Light'), local('Merriweather-Light'), url('../fonts/merriweatherlight.woff2') format('woff2'), url('../fonts/merriweatherlight.woff') format('woff'), url('../fonts/merriweatherlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Light Italic'), local('Merriweather-LightIt'), url('../fonts/merriweatherlightitalic.woff2') format('woff2'), url('../fonts/merriweatherlightitalic.woff') format('woff'), url('../fonts/merriweatherlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../fonts/merriweatherregular.woff2') format('woff2'), url('../fonts/merriweatherregular.woff') format('woff'), url('../fonts/merriweatherregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../fonts/merriweatheritalic.woff2') format('woff2'), url('../fonts/merriweatheritalic.woff') format('woff'), url('../fonts/merriweatheritalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../fonts/merriweatherbold.woff2') format('woff2'), url('../fonts/merriweatherbold.woff') format('woff'), url('../fonts/merriweatherbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../fonts/merriweatherbolditalic.woff2') format('woff2'), url('../fonts/merriweatherbolditalic.woff') format('woff'), url('../fonts/merriweatherbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather UltraBold'), local('Merriweather-UltraBold'), url('../fonts/merriweatherultrabold.woff2') format('woff2'), url('../fonts/merriweatherultrabold.woff') format('woff'), url('../fonts/merriweatherultrabold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather UltraBold Italic'), local('Merriweather-UltraBdIt'), url('../fonts/merriweatherultrabolditalic.woff2') format('woff2'), url('../fonts/merriweatherultrabolditalic.woff') format('woff'), url('../fonts/merriweatherultrabolditalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
