{% extends "base_template.html" %}
{% load static i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    $('.clicks')
      .popup()
    ;
  });
</script>
{% endblock %}

{% block content %}
{% if not news %}
  <div class="ui centered grid">
    <h1>{% trans "Подождите, автор создает оригинальный контент."%}</h1>

  </div>
  <br><br>
  <div class="ui large active centered inline loader"></div>
{% else %}
<h2>Новости</h2>
<br>
<div class="ui three stackable cards">

  {% for news_item in news %}
  <a class="ui card" href="/news/{{ news_item.slug }}">
    <div class="content">
      {% if news_item.image %}
        <img class="left floated tiny ui image" src="{{ news_item.image.url }}">
      {% else %}
        <img class="left floated tiny ui image" src="{% static 'images/no-image.png' %}">
      {% endif %}


      <div class="header">{{ news_item.title }}</div>
      <div class="meta">
        <span class="category">{{ news_item.when }}</span>
      </div>
      <div class="description">
        {% autoescape off %}
        {{ news_item.preview }}
        {% endautoescape %}
      </div>
    </div>
    <div class="extra content">
      {% if news_item.views %}
      <span class="right floated meta clicks" data-content="Количество кликов" data-position="top right" data-variation="mini inverted"><i class="hand pointer icon"></i>{{ news_item.views }}</span>
      {% endif %}
      <span class="right floated meta clicks" data-content="Комментарии тоже не работают :)" data-position="top right" data-variation="mini inverted"><i class="comments icon"></i>0</span>
      <span class="right floated meta clicks" data-content="Лайки не работают :)" data-position="top right" data-variation="mini inverted"><i class="heart icon"></i>0</span>
    </div>
  </a>
  {% endfor %}

</div>

<br><br>

<div class="ui centered grid">
  <div class="ui circular labels">
    <a class="" {% if prev_page %}href="/news/?page={{ prev_page }}"{% endif %}>
      <i class="chevron left icon news-arrows {% if not prev_page %}disabled-icon{% endif %}"></i>
    </a>
    {% for page in pages %}
    <a class="ui {% if page == cur_page %}active{% endif %} label" href="/news/?page={{ page }}">
      {{ page }}
    </a>
    {% endfor %}
    <a class="" {% if next_page %}href="/news/?page={{ next_page }}"{% endif %}>
      <i class="chevron right icon news-arrows {% if not next_page %}disabled-icon{% endif %}"></i>
    </a>
  </div>
</div>

<br><br>
{% endif %}
{% endblock %}
