{% extends "base_template.html" %}
{% load static i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
{% if not news %}
  <div class="ui centered grid">
    <h1>{% trans "Подождите, автор создает оригинальный контент."%}</h1>

  </div>
  <br><br>
  <div class="ui large active centered inline loader"></div>
{% else %}
<div class="ui four stackable cards">

  {% for news_item in news %}
  <div class="card">
    {% if news_item.image %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <a class="header" href="/news/{{ news_item.slug }}">{{ news_item.title }}</a>
    </div>
    <div class="image">
      <a href="/news/{{ news_item.slug }}" class="">
        <img class="ui large centered image" src="{{ news_item.image.url }}">
      </a>
    </div>
    <div class="content">
      <div class="description">
        {{ news_item.preview }}
      </div>
    </div>
    {% else %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <a class="header" href="/news/{{ news_item.slug }}">{{ news_item.title }}</a>
      <div class="description">
        {{ news_item.preview }}
      </div>
    </div>
    {% endif %}


    <div class="extra content">
      {% comment %}
      <i class="empty heart icon"></i>
      {{ news_item.views }}
      <i class="user outline icon"></i>
      {{ news_item.likes_count }}
      {% endcomment %}
      {{ news_item.created }}
    </div>


  </div>
  {% endfor %}

</div>

<br><br>

<div class="ui centered grid">
  <div class="ui circular labels">
    <a class="" {% if prev_page %}href="/news/?page={{ prev_page }}"{% endif %}>
      <i class="chevron left icon news-arrows {% if not prev_page %}disabled-icon{% endif %}"></i>
    </a>
    {% for page in pages %}
    <a class="ui {% if page == cur_page %}active{% endif %} label" href="/news/?page={{ page }}">
      {{ page }}
    </a>
    {% endfor %}
    <a class="" {% if next_page %}href="/news/?page={{ next_page }}"{% endif %}>
      <i class="chevron right icon news-arrows {% if not next_page %}disabled-icon{% endif %}"></i>
    </a>
  </div>
</div>

<br><br>
{% endif %}
{% endblock %}
