{% extends "base.html" %}
{% load static tz %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/music.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/music_single.css' %}">

{% endblock %}

{# JS #}
{% block extrajs %}
{{ block.super }}
<script src="{% static 'js/audiojs/audio.min.js' %}"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
  <div class="ui row">
    <div class="ui breadcrumb">
      <a class="section" href="/news">Новости</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{ news.title }}</div>
    </div>
  </div>
  <div class="five wide column">
    {% if news.image %}
    <img class="ui fluid image" src="{{ news.image.url }}">
    {% else %}
      <img class="ui medium centered image" src="{% static 'images/corgi-cool.jpg' %}">
      <br>
      <p class="text-center text-faded">Sorry, but there is no image. Woof.</p>
    {% endif %}
    {% if request.user.is_superuser %}
    <br>
    <a href="{% url 'admin:news_news_change' news.id %}">
      <i class="pencil icon"></i>
      Редактировать новость
    </a>
    {% endif %}
  </div>
  <div class="eleven wide column">
    <h1>{{ news.title }}</h1>
    <p class="text-faded">{{ news.created }}</p>
    {% autoescape off %}
    <p>{{ news.full_text }}</p>
    {% endautoescape %}

    {% if news.tracks.exists %}
      <h3>Треки к новости</h3>
      {% for track in news.tracks.all %}
      <li style="font-size: 16px; font-weight: 900;"> {{ track.name }}
        <a style="font-size: 12px; font-weight: 400; margin-left: 10px; line-height: 16px;" href="/music/{{ track.slug }}/">Показать трек</a>

      </li>
      <br>
      <div class="audio" style="margin-left: 20px;">
        <audio src="{{ track.file.url }}" preload="auto" />
      </div>
      <br>
      {% endfor %}

    {% endif %}

    {% comment %}
    <div class="">
      <span class="news-meta"><i class="heart icon"></i>0 Likes</span>
      <span class="news-meta"><i class="user icon"></i>0 Views</span>
      <span class="news-meta"><i class="alarm icon"></i>0 Shares</span>
    </div>
    <br>
    <button class="ui circular vk icon button">
      <i class="vk icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>
    {% endcomment %}
  </div>
</div>
<br>
{% endblock %}
