{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/dist/semantic.min.css' %}">
    <script src="{% static 'semantic-ui/dist/semantic.min.js' %}"></script>
    <!-- Main config -->
    <link href="{% static 'images/icon2.png' %}" rel="shortcut icon" type="image/x-icon" />
    <title>{{ title_name }}</title>
    <!-- Specific imports -->
    {% for js in import_js %}
        <script src="{% static js %}"></script>
    {% endfor %}
    {% for css in import_css %}
        <link rel="stylesheet" type="text/css" href="{% static css %}">
    {% endfor %}
</head>
<body>
  <div class="ui page dimmer">
    <div class="content">
      <div class="center">
        <form class="ui form wall-form" action="/i18n/setlang/" method="POST">{% csrf_token %}
          <h1>Select your language:</h1>
          <button class="ui button" type="submit" name="language" value="en">
            <i class="gb flag"></i>
            English
          </button>
          <button class="ui button" type="submit" name="language" value="ru">
            <i class="ru flag"></i>
            Русский
          </button>
        </form>
      </div>
    </div>
  </div>
  {% get_current_language as LANGUAGE_CODE %}
  language: {{ LANGUAGE_CODE }}
    {% block content %}{% endblock %}
</body>
<style type="text/css">
    {% block extra_css %}
    {% endblock %}
</style>
<script>
    {% block extra_js %}
    {% endblock %}
</script>
</html>
