{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="fullscreen-bg">
		<video loop="" muted="" autoplay="" poster="http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg" class="fullscreen-bg__video">
				<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.mp4" type="video/mp4">
				<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.ogv" type="video/ogg">
				<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.webm" type="video/webm">
		</video>
</div>

<div class="content index-content">
	<h1 class="DND-logo">Dendy Not Dead</h1>
	<a class="ui animated fade button shake" href="/news/">
  <div class="visible content">{% trans "Enter the site" %}</div>
  <div class="hidden content ">
    Let's ROCK
  </div>

</a>
<br>
<br>
<a href="#" class="lang-link" id="change-lang">
	Change language
</a>
</div>

{% endblock %}
