{% extends "base_template.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<div class="ui four stackable cards">

  {% for news_item in news %}
  <div class="card">
    {% if news_item.image %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <a class="header" href="/news/{{ news_item.slug }}">{{ news_item.title }}</a>
    </div>
    <div class="image">
      <a href="/news/{{ news_item.slug }}" class="">
        <img class="ui large centered image" src="{{ news_item.image.url }}">
      </a>
    </div>
    <div class="content">
      <div class="description">
        {{ news_item.preview }}
      </div>
    </div>
    {% else %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <a class="header" href="/news/{{ news_item.slug }}">{{ news_item.title }}</a>
      <div class="description">
        {{ news_item.preview }}
      </div>
    </div>
    {% endif %}

    <div class="extra content">
      <i class="empty heart icon"></i>
      {{ news_item.views }}
      <i class="user outline icon"></i>
      {{ news_item.likes_count }}
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
