{% extends "base_template.html" %}
{% load static %}

{% block content %}
<div class="ui four stackable cards">

  <div class="card">
    {% if news.image %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <div class="header">{{ news.title }}</div>
    </div>
    <div class="image">
      <img src="{{ news.image.url }}">
    </div>
    <div class="content">
      <div class="description">
        {{ news.preview }}
      </div>
    </div>
    {% else %}
    <div class="content">
      <div class="right floated meta">2 days ago</div>
      <div class="header">{{ news.title }}</div>
      <div class="description">
        {{ news.preview }}
      </div>
    </div>
    {% endif %}

    <div class="extra content">
      <i class="empty heart icon"></i>
      {{ news.views }}
      <i class="user outline icon"></i>
      {{ news.likes_count }}
    </div>
  </div>

</div>
{% endblock %}
