<div class="ui secondary menu container" id="menu">
  <div class="dnd-logo" onclick="location.href='/';">
    <div class="pixel-logo">
      {% for line in logo %}
      <div class="logo-line">
        {% for pixel in line %}
        <div class="logo-pixel {% if pixel == '1' %}black{% elif pixel == '2' %}red{% endif %}"></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="right menu mobile-hidden-menu">

    {% for item in menu %}
    <a class="{% if item.0 == active_menu %}active {% endif %}item" href="{{ item.1 }}">{{ item.0}}</a>
    {% endfor %}
  </div>
  <div class="right menu mobile-show-menu">
    <div class="item toggle-menu">
      <i class="content icon toggle-menu-icon"></i>
    </div>
  </div>
</div>

<div id="slim-menu" class="hide-slim-menu">
  <div class="ui container">
    <div class="dnd-logo mobile-hidden-menu" onclick="location.href='/';">
      <div class="pixel2-logo">
        {% for line in slim_logo %}
        <div class="logo2-line">
          {% for pixel in line %}
          <div class="logo-pixel {% if pixel == '1' %}white{% elif pixel == '2' %}red{% endif %}"></div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="dnd-logo mobile-show-menu" onclick="location.href='/';">
      <div class="pixel2-logo">
        {% for line in slim_logo_mini %}
        <div class="logo3-line">
          {% for pixel in line %}
          <div class="logo-pixel {% if pixel == '1' %}white{% elif pixel == '2' %}red{% endif %}"></div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="slim-right-menu mobile-hidden-menu">
      {% for item in menu %}
      <a class="{% if item.0 == active_menu %}active{% endif %}it" href="{{ item.1 }}">{{ item.0}}</a>
      {% endfor %}
    </div>
    <div class="mobile-show-menu" style="float: right; margin: 14px 10px;">
      <div class="item toggle-menu">
        <i class="content icon inverted toggle-menu-icon"></i>
      </div>
    </div>
  </div>
</div>
